<% provide(:title, 'About us') %>
<% tab "about" %>
<h1>About Us</h1>
<div class="about-content">
  <div class="bio-container">
    <img src="http://sitecdn.alliedtechnique.net/images/placeholders/140x140.gif" alt="Employee" class="img-polaroid bio-pic">
    <h2 class="bio-title">Paul, Title</h2>
    <p class="bio-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="bio-container">
    <img src="http://sitecdn.alliedtechnique.net/images/placeholders/140x140.gif" alt="Employee" class="img-rounded bio-pic">
    <h2 class="bio-title">Patrick Roberts, Title</h2>
    <p class="bio-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="bio-container">
    <img src="http://sitecdn.alliedtechnique.net/images/placeholders/140x140.gif" alt="Employee" class="img-circle bio-pic">
    <h2 class="bio-title">Third Employee, Title</h2>
    <p class="bio-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
