<% provide(:title, 'Contact') %>
<% tab "contact" %>
<h1 class="con">Contact Us</h1>
<div id="continfo" class="row">
  <div class="span4">
    <h2>Phone</h2>
    <hr class="soften">
    <a class="conp" href="tel:+15124697499">512.469.7499</a>
    <p>Fax</p>
    <p>512.469.7999</p>
  </div>
  <div class="span4">
    <h2>Email</h2>
    <hr class="soften">
    <a class="conp" href="mailto:pwd@p-w-d.net" target="_blank">pwd@p-w-d.net</a>
  </div>
  <div class="span4">
    <h2>Address</h2>
    <hr class="soften">
    <a style="font-size: 1.3em; font-weight: bold;" href="https://maps.google.com/maps?q=4221+FREIDRICH+LANE,+SUITE+%23150+AUSTIN,+TX++78744&hl=en&sll=31.168934,-100.076842&sspn=16.040126,33.815918&hnear=4221+Freidrich+Ln+%23150,+Austin,+Texas+78744&t=m&z=17" target="_blank">
      <p>4221 FREIDRICH LANE, SUITE 150</p>
      <p>AUSTIN, TEXAS 78744</p>
    </a>
  </div>
</div>
<div id="map_canvas">
</div>
