<% tab "home" %>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://www.coalesse.com/cache/made/2cdb293a3acbebd8/Switch_w03_hi_1000_480_90.jpg" alt>
    </div>
    <div class="item">
      <img src="http://www.arbolgroup.it/s/img/emotionheader5794156538.jpg?1362062088.1000px.480px" alt>
    </div>
    <div class="item">
      <img src="http://www.arbolgroup.it/s/img/emotionheader5794156008.jpg?1362060089.1000px.480px" alt>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row">
  <div class="span4">
    <img src="http://sitecdn.alliedtechnique.net/images/placeholders/140x140.gif" class="img-circle">
    <h2>Heading</h2>
     <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
     <p><%= link_to "Portfolio", portfolio_path, class: "btn" %></p>
   </div>
   <div class="span4">
    <img src="http://sitecdn.alliedtechnique.net/images/placeholders/140x140.gif" class="img-circle">
    <h2>Heading</h2>
     <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
     <p><%= link_to "Portfolio", portfolio_path, class: "btn" %></p>
   </div>
   <div class="span4">
    <img src="http://sitecdn.alliedtechnique.net/images/placeholders/140x140.gif" class="img-circle">
    <h2>Heading</h2>
     <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
     <p><%= link_to "Portfolio", portfolio_path, class: "btn" %></p>
   </div>
 </div>
</div>
