<% provide(:title, 'Portfolio') %>
<% tab "portfolio" %>
<h1 class="port">Portfolio</h1>
<div class="about-content">
  <div class="port-container">
    <h2 class="port-title"><strong>SHOWCASE 1</strong></h2>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <a href="/assets/examples/image-4.jpg" rel="lightbox[1]" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="/assets/examples/image-4.jpg" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="/assets/examples/image-1.jpg" rel="lightbox[1]" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="/assets/examples/image-1.jpg" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="/assets/examples/image-2.jpg" rel="lightbox[1]" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="/assets/examples/image-2.jpg" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="/assets/examples/image-3.jpg" rel="lightbox[1]" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="/assets/examples/image-3.jpg" alt="Employee">
          </a>
        </li>
      </ul>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr id="sc2" class="soften">
  <div class="port-container">
    <h2 class="port-title"><strong>SHOWCASE 2</strong></h2>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
      </ul>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr id="sc3" class="soften">
  <div class="port-container">
    <h2 class="port-title"><strong>SHOWCASE 3</strong></h2>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
      </ul>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img style="width: 260px; height: 180px;" src="http://placehold.it/260x180" alt="Employee">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>