@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 61px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.container {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	max-width: 1000px;
}

.span4 {
	width: 323px;
	text-align: center;
	margin-left: 10px;
	padding-top: 40px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	font-size: 1.7em;
	color: #555555;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 5px;
	font-weight: bold;
	line-height: 2;
	text-align: center;
}

#logo:hover {
	text-decoration: none;
}

.navbar-inner {
	min-height: 60px;
}

.navbar .nav {
	margin: 0 -13px 0 0;
}

.navbar-fixed-top .navbar-inner {
	box-shadow: none;
	border-bottom: 1px solid #d4d4d4;
}

.navbar .btn-navbar {
	margin-top: 16px;
}

li {
	line-height: 40px;
	list-style: none;
}

#smedia {
	padding: 10px 9px 10px 0px;
	font-size: 16px;
	text-shadow: none;
}

.navbar .divider-vertical {
	margin: 10px 9px;
	border-left: 1px solid rgb(218,218,218);
}

/* carousel */

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

/* footer */

footer {
	margin-top: 40px;
	padding-top: 25px;
	padding-bottom: 20px;
	border-top: 1px solid #eaeaea;
	color: $grayLight;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
		padding-left: 20px;
	}
	ul {
		float: right;
		list-style: none;
		padding-right: 20px;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* About Us */

.well {
	margin-top: 10px;
	margin-bottom: 0;
	border: 1px solid #d4d4d4;
	background-color: rgba(245, 245, 245, 0.5);
}

div.about-content {
	text-align:left;
	max-width:1000px;
	position:relative;
	min-height:160px;
}

div.bio-container {
	padding:0;
	margin:30px 0;
	max-width:1000px;
	min-height:190px;
}

img.bio-pic {
margin-right: 20px; 
float:left; 
border:1px solid #CCC;
}

.bio-title {
padding:20px 0 0 0px; 
display:inline-block;
color: #333333;
}

.bio-p {
  display:block; 
  padding: 0 30px 0 220px;
}

/* Portfolio */

.port-title {
	padding: 20px 0 0 0px;
	color: #333333;
}

.port-img {
	display: inline;
	padding: 8px;
}

div.port-container {
	max-width:1000px;
	min-height:190px;
}

.port {
	border-bottom: 2px solid #333333;
	margin-top: 32px;
	margin-bottom: 12px;
	padding-top: 5px;
	padding-bottom: 12px;
}

/* Contact */

.con {
	border-bottom: 2px solid #333333;
	margin-top: 32px;
	margin-bottom: 12px;
	padding-top: 5px;
	padding-bottom: 12px;
}

/* Media queries */

@media (min-width: 1200px) {
	.row {
		margin: 0;
	}
}


@media (max-width: 979px) and (min-width: 768px) {
	body {
		padding-top: 0;
	}
}

@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: -20px;
		padding-right: -20px;
	}
	.row {
		margin-left: -26px;
	}
}