@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 61px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.container {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	max-width: 1000px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #555555;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 5px;
	font-weight: bold;
	line-height: 2;
}

#logo:hover {
	text-decoration: none;
}

.navbar-inner {
	min-height: 60px;
}

.navbar-fixed-top .navbar-inner {
	box-shadow: none;
	border-bottom: 1px solid #d4d4d4;
}

li {
	line-height: 40px;
	list-style: none;
}

/* carousel */

.carousel {

}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $grayLight;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}