<div class="container">
  <hr class="soften">
  <footer class="footer">
    <p class="pull-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      © 2013 | Professional Workroom of Design, LTD • 
      <%= link_to "About", about_path %> • 
      <%= link_to "Contact", contact_path %>
    </p>
  </footer>
</div>